# Да си поиграем с комбинации от резултатите на различните модели

In [1]:
import pandas as pd
import numpy as np

# Embeddings & LSTM

In [2]:
emb_lstm1 = pd.read_csv('../Submissions/embeddings-lstm-split1.csv')
emb_lstm1[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.995561,3.448385e-01,0.922943,2.026089e-01,0.877785,0.485172
1,0000247867823ef7,0.000103,6.209190e-08,0.000018,8.820862e-07,0.000004,0.000001
2,00013b17ad220c46,0.002547,3.944434e-06,0.000441,3.888881e-05,0.000125,0.000038

In [3]:
emb_lstm2 = pd.read_csv('../Submissions/embeddings-lstm-split2.csv')
emb_lstm2[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.995701,3.486625e-01,0.942447,9.373182e-02,0.899342,3.955037e-01
1,0000247867823ef7,0.000134,9.104841e-09,0.000037,1.415370e-07,0.000007,7.095074e-07
2,00013b17ad220c46,0.002522,2.973897e-06,0.000883,2.567595e-05,0.000257,4.776106e-05

In [4]:
emb_lstm = pd.read_csv('../Submissions/embeddings-lstm.csv')
emb_lstm[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.998396,3.898600e-01,0.967518,7.044257e-02,0.926057,3.367495e-01
1,0000247867823ef7,0.000069,5.579687e-09,0.000014,8.107273e-08,0.000005,2.105901e-07
2,00013b17ad220c46,0.004311,6.004250e-06,0.000933,5.286001e-05,0.000648,5.334762e-05

## 1. (Първа половина + Втора половина + Всички данни * 2) / 4

In [11]:
emb_lstm_combined = (emb_lstm1.drop('id', axis=1) + emb_lstm2.drop('id', axis=1) + emb_lstm.drop('id', axis=1) * 2) / 4
emb_lstm_combined.index = emb_lstm['id']
emb_lstm_combined[:3]

,toxic,severe_toxic,obscene,threat,insult,identity_hate
id,,,,,,
00001cee341fdb12,0.997014,3.683052e-01,0.950106,1.093065e-01,0.907310,3.885438e-01
0000247867823ef7,0.000093,2.058903e-08,0.000021,2.964422e-07,0.000005,6.299391e-07
00013b17ad220c46,0.003423,4.731708e-06,0.000798,4.257119e-05,0.000419,4.816421e-05

In [12]:
emb_lstm_combined.to_csv('../Submissions/embeddings-lstm-all-combined.csv')

### 0.9767 - Подобрение с 0.0010 над комбинацията на 2те половинки
#### 2. (Първа половина + Втора половина + Всички данни) / 3 - по-нисък резултат (0.9766)

# TFIDF & Logistic Regression + Embeddings & LSTM

In [13]:
tfidf_logreg = pd.read_csv('../Submissions/tfidf-logistic-regression.csv')
tfidf_logreg[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.999933,0.143457,0.998823,0.063472,0.960850,0.231907
1,0000247867823ef7,0.004319,0.001767,0.001517,0.000397,0.007187,0.000509
2,00013b17ad220c46,0.001152,0.000692,0.011267,0.000420,0.019730,0.003184

In [14]:
logreg_lstm_comb = (emb_lstm.drop('id', axis=1) + tfidf_logreg.drop('id', axis=1)) / 2
logreg_lstm_comb.index = emb_lstm['id']
logreg_lstm_comb[:3]

,toxic,severe_toxic,obscene,threat,insult,identity_hate
id,,,,,,
00001cee341fdb12,0.999165,0.266658,0.983170,0.066957,0.943453,0.284328
0000247867823ef7,0.002194,0.000884,0.000765,0.000199,0.003596,0.000255
00013b17ad220c46,0.002732,0.000349,0.006100,0.000236,0.010189,0.001619

In [15]:
logreg_lstm_comb.to_csv('../Submissions/logreg_lstm_combined.csv')

# Резултат 0.9789 - силно подобрение

# А сега разделените

In [18]:
tfidf_logreg1 = pd.read_csv('../Submissions/tfidf-logistic-regression-half-clean1.csv')
tfidf_logreg1[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.998337,0.179390,0.994809,0.046207,0.961407,0.280959
1,0000247867823ef7,0.006600,0.001563,0.004007,0.000433,0.005721,0.003058
2,00013b17ad220c46,0.042410,0.006402,0.020820,0.001987,0.023446,0.006136

In [19]:
tfidf_logreg2 = pd.read_csv('../Submissions/tfidf-logistic-regression-half-clean2.csv')
tfidf_logreg2[:3]

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.998337,0.179390,0.994809,0.046207,0.961407,0.280959
1,0000247867823ef7,0.006600,0.001563,0.004007,0.000433,0.005721,0.003058
2,00013b17ad220c46,0.042410,0.006402,0.020820,0.001987,0.023446,0.006136

In [21]:
halves_combined = (emb_lstm1.drop('id', axis=1) + emb_lstm2.drop('id', axis=1) + tfidf_logreg1.drop('id', axis=1) + tfidf_logreg2.drop('id', axis=1)) / 4
halves_combined.index = emb_lstm['id']
halves_combined[:3]

,toxic,severe_toxic,obscene,threat,insult,identity_hate
id,,,,,,
00001cee341fdb12,0.996984,0.263070,0.963752,0.097189,0.924985,0.360649
0000247867823ef7,0.003359,0.000781,0.002017,0.000217,0.002863,0.001530
00013b17ad220c46,0.022472,0.003203,0.010741,0.001010,0.011818,0.003089

In [22]:
halves_combined.to_csv('../Submissions/halves-combined.csv')

# 0.9790 - подобрение с цели 0.0001